.section {
    position: relative;
    height: 100vh;
    padding: 0;
}

.poster_container {
    position: relative;
    width: 100%;
    height: 45%;
}

.poster_container img {
    object-fit: cover;
}

.xd {
    animation: load .4s ease-in-out backwards;
}

.projects_carousel_container {
    position: absolute;
    width: 100%;
    bottom: 0;
    background-color: rgba(10, 10, 10, 0.8);
}

.projects_carousel_container p {
    display: none;
    position: absolute;
    top: -2.5vw;
    left: 50%;
    transform: translate(-50%);
    width: 100%;
    background-color: #0A0A0A;
    font-size: 1.029vw;
    letter-spacing: 0.147vw;
    padding: 0.735vw 0;
    font-weight: 700;
    text-align: center;
}

.swiper {
    padding: 5px 50px;
}

.swiper_slide {
    display: flex;
    justify-content: center;
    opacity: 0;
    transition: opacity .3s ease-in-out;
}

.swiper_slide div {
    position: relative;
    width: 50px;
    height: 50px;
    margin: auto;
}

.swiper_slide img {
    object-fit: cover;
    transition: all .3s ease-in-out;
    user-select: none;
    
    &:hover {
        filter: invert(100%)
    }
}

.info_container {
    position: relative;
    height: 55%;
    padding: 0 35px 40px 35px;
    color: #F2F2F2;
    background-color: #0A0A0A;
    text-align: center;
    overflow: scroll;
    scroll-behavior: smooth;
}

.pad {
    content: '';
    position: sticky;
    top: 0;
    width: 100%;
    height: 40px;
    background-color: #0A0A0A;
}

.info_container h4 {
    font-size: 20px;
    font-weight: 900;
    color: #15B4E7;
    animation: intro .4s ease-in-out backwards;
}

.init_info_container {
    display: flex;
    flex-direction: column;
    gap: 42px;
    margin-top: 30px;
}

.init_info_container div {
    animation: intro .4s .1s ease-in-out backwards;
}

.info_container div div p {
    font-size: 12px;
    font-weight: 300;
}

.info_container div div p:nth-child(2) {
    font-size: 14px;
    font-weight: 600;
    margin-top: 7px;
    letter-spacing: .5px;
}

.desc {
    font-size: 15px;
    font-weight: 400;
    font-family: Hind, sans-serif;
    margin: 40px 0 30px 0;
    white-space: pre-line;
    animation: intro .4s .2s ease-in-out backwards;
}

.video {
    width: 100%;
    height: 50vw;
    margin-bottom: 18px;
    border-radius: 10px;
    box-shadow: 0 6px 10px #000000;
    animation: intro .4s .3s ease-in-out backwards;
}

.video iframe,
.video video {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.swiper_gallery {
    padding: 5px 50px;
    animation: intro .4s .4s ease-in-out backwards;
}

.swiper_gallery_slide {
    display: flex;
    justify-content: center;
    opacity: 0;
    box-shadow: 0 6px 10px #000000;
    transition: opacity .3s ease-in-out;
}

.swiper_gallery_slide div {
    position: relative;
    width: 67px;
    height: 38px;
}

.swiper_gallery_slide img {
    border-radius: 3px;
    object-fit: cover;
    transition: all .3s ease-in-out;
    user-select: none;

    &:hover {
        filter: invert(100%)
    }
}

.image_view_container {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    padding: initial;
    opacity: 0;
    background-color: rgba(10, 10, 10, .9);
    z-index: -1;
    transition: all .2s ease-in-out;

    div {
        position: relative;
        width: 100%;
        height: 100%;

        img {
            object-fit: contain;
        }
    }
}

.image_view_container.activated {
    padding: 50px;
    opacity: 1;
    z-index: 5000;
}

@media only screen and (min-width: 768px) {

    .projects_carousel_container {
        padding: 0 54px;
    }

    .poster_container {
        position: relative;
        width: 100%;
        height: 51%;
    }

    .swiper {
        padding: 11px 69px;
    }

    .swiper_slide div {
        position: relative;
        width: 72px;
        height: 72px;
    }

    .swiper_slide img {
        border-radius: 10px;
    }

    .info_container {
        position: relative;
        height: 49%;
        padding: 0 75px 60px 75px;
        color: #F2F2F2;
        background-color: #0A0A0A;
        text-align: center;
        overflow: scroll;
    }

    .pad {
        height: 60px;
    }

    .info_container h4 {
        font-size: 40px;
    }
    
    .init_info_container {
        display: flex;
        flex-direction: column;
        gap: 50px;
        margin-top: 50px;
    }
    
    .info_container div div p {
        font-size: 18px;
    }
    
    .info_container div div p:nth-child(2) {
        font-size: 20px;
        margin-top: 11px;
    }
    
    .desc {
        font-size: 22px;
        margin: 50px 0 40px 0;
    }

    .video {
        margin-bottom: 30px;
    }

    .swiper_gallery_slide div {
        width: 112px;
        height: 62px;
    }
}


@media only screen and (min-width: 1280px) {

    .section {
        display: flex;
        height: 100vh;
        background-color: #0A0A0A;
    }

    .poster_container {
        position: relative;
        width: 35.294vw;
        height: 100%;
        box-shadow: 6px 0 30px #000000;
    }

    .projects_carousel_container {
        padding: 0.882vw 2.353vw;
    }

    .projects_carousel_container p {
        display: block;
    }

    .swiper {
        padding: 0 3.897vw;
    }

    .swiper_slide div {
        width: 4.044vw !important;
        height: 4.044vw !important;
        cursor: pointer;
    }

    .info_container {
        text-align: left;
        width: 64.706vw;
        height: 100%;
        padding: 3.309vw 2.574vw;
        background-color: initial;
    }

    .info_container::-webkit-scrollbar {
        display: none;
    }

    .pad {
        display: none;
    }

    .info_container h4 {
        font-size: 3.309vw;
    }
    
    .init_info_container {
        display: flex;
        flex-direction: row;
        width: 100%;
        gap: 0;
        margin-top: 2.941vw;
    }
    
    .init_info_container div {
        width: 100%;
    }
    
    .info_container div div p {
        font-size: 1.176vw;
        line-height: 1.471vw;
    }
    
    .info_container div div p:nth-child(2) {
        font-size: 1.176vw;
        margin-top: 0.809vw;
    }
    
    .desc {
        font-size: 1.176vw;
        margin: 3.897vw 0;
    }

    .video {
        height: 35.662vw;
        margin-bottom: 2.794vw;
    }

    .project_images_carousel_container {
        padding: 0 1.765vw;
    }

    .swiper_gallery {
        padding: 0 4.191vw;
    }

    .swiper_gallery_slide div {
        width: 10.809vw !important;
        height: 6.029vw !important;
        cursor: pointer;
    }

    .swiper_gallery_slide div img {
        border-radius: 10px;
    }

    .image_view_container.activated {
        padding: 3.676vw;
    }
}

@keyframes intro {
    from {
        opacity: 0;
        transform: translateX(-100px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }     
}

@keyframes load {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }     
}