.section {
    height: 100vh;
    padding: 0;
}

.poster_container {
    position: relative;
    width: 100%;
    height: 37%;
}

.poster_container img {
    object-fit: cover;
}

.projects_carousel_container {
    position: absolute;
    width: 100%;
    bottom: 0;
    background-color: rgba(10, 10, 10, 0.8);
}

.swiper {
    padding: 5px 50px;
}

.swiper_slide {
  opacity: 0;
  transition: opacity .3s ease-in-out;
}

.swiper_slide div {
    position: relative;
    width: 50px;
    height: 50px;
    margin: auto;
    border-radius: 10px;
}

.info_container {
    position: relative;
    height: 63%;
    padding: 0 35px 40px 35px;
    color: #F2F2F2;
    background-color: #0A0A0A;
    text-align: center;
    overflow: scroll;
}

.pad {
    content: '';
    position: sticky;
    top: 0;
    width: 100%;
    height: 40px;
    background-color: #0A0A0A;
}

.info_container h4 {
    font-size: 20px;
    font-weight: 900;
    color: #15B4E7;
}

.init_info_container {
    display: flex;
    flex-direction: column;
    gap: 42px;
    margin-top: 30px;
}

.info_container div div p {
    font-size: 12px;
    font-weight: 300;
}

.info_container div div p:nth-child(2) {
    font-size: 14px;
    font-weight: 600;
    margin-top: 7px;
    letter-spacing: .5px;
}

.desc {
    font-size: 15px;
    font-weight: 400;
    font-family: Hind, sans-serif;
    margin: 40px 0 30px 0;
}

.video {
    width: 100%;
    height: 50vw;
    margin-bottom: 18px;
    border-radius: 10px;
    box-shadow: 0 6px 10px #000000;
}

.swiper_gallery {
    padding: 5px 50px;
}

.swiper_gallery_slide {
    opacity: 0;
    box-shadow: 0 6px 10px #000000;
    transition: opacity .3s ease-in-out;
}

.swiper_gallery_slide img {
    border-radius: 3px;
}

@media only screen and (min-width: 768px) {

    .projects_carousel_container {
        padding: 0 54px;
    }

    .poster_container {
        position: relative;
        width: 100%;
        height: 51%;
    }

    .swiper {
        padding: 11px 69px;
    }

    .swiper_slide div {
        position: relative;
        width: 72px;
        height: 72px;
    }

    .swiper_slide div img {
        border-radius: 10px;
    }

    .info_container {
        position: relative;
        height: 49%;
        padding: 0 75px 60px 75px;
        color: #F2F2F2;
        background-color: #0A0A0A;
        text-align: center;
        overflow: scroll;
    }

    .pad {
        height: 60px;
    }

    .info_container h4 {
        font-size: 40px;
    }
    
    .init_info_container {
        display: flex;
        flex-direction: column;
        gap: 50px;
        margin-top: 50px;
    }
    
    .info_container div div p {
        font-size: 18px;
    }
    
    .info_container div div p:nth-child(2) {
        font-size: 20px;
        margin-top: 11px;
    }
    
    .desc {
        font-size: 22px;
        margin: 50px 0 40px 0;
    }

    .video {
        margin-bottom: 30px;
    }
    
    .swiper_gallery {
        padding: 5px 64px;
    }
}


@media only screen and (min-width: 1280px) {

    .section {
        display: flex;
        height: 100vh;
    }

    .projects_carousel_container {
        padding: 0 2.353vw;
    }

    .poster_container {
        position: relative;
        width: 35.294vw;
        height: 100%;
    }

    .swiper {
        height: 5.882vw;
        padding: 0.882vw 2.353vw;
    }

    .swiper_slide div {
        position: relative;
        width: 4.044vw;
        height: 4.044vw;
    }

    .swiper_slide div img {
        border-radius: 10px;
    }

    .info_container {
        text-align: left;
        width: 64.706vw;
        height: 100%;
        padding: 3.309vw 2.574vw;
    }

    .info_container::-webkit-scrollbar {
        display: none;
    }

    .pad {
        display: none;
    }

    .info_container h4 {
        font-size: 3.309vw;
    }
    
    .init_info_container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 0;
        padding-right: 6.691vw;
        margin-top: 2.941vw;
    }

    .softwares {
        max-width: 17vw;
    }
    
    .info_container div div p {
        font-size: 1.176vw;
        line-height: 1.471vw;
    }
    
    .info_container div div p:nth-child(2) {
        font-size: 1.176vw;
        margin-top: 0.809vw;
    }
    
    .desc {
        font-size: 1.176vw;
        margin: 3.897vw 0;
    }

    .video {
        height: 35.662vw;
        margin-bottom: 2.794vw;
    }
    
    .swiper_gallery {
        padding: 5px 64px;
    }
}