.article {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.feature {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 100%;
    padding: 30px;
    background-color: #0E0E0E;
    border-radius: 10px;
    filter: drop-shadow(0 8px 10px #000000);
}

.feature_image {
    width: 122px;
    height: 122px;
    background-color: #15B4E7;
    border: 2px solid #F2F2F2;
    border-radius: 50%;
    filter: drop-shadow(0 4px 10px #000000);
}

.feature_title {
    font-size: 24px;
    font-weight: 700;
    margin: 30px 0;
}

.feature_desc {
    font-family: Hind, sans-serif;
    font-size: 15px;
    font-weight: 300;
    line-height: 24px;
    color: rgba(255, 255, 255, .8);

    span {
        color: #15B4E7;
    }
}


/* -------------------------------------- */


@media only screen and (min-width: 768px) {
    .article {
        padding: 0 60px;
    }

    .feature {
        padding: 48px;
    }

    .feature_title {
        font-size: 26px;
        margin: 40px 0;
    }
    
    .feature_desc {
        font-size: 20px;
        line-height: 32px;
    }
}


@media only screen and (min-width: 1280px) {
    .article {
        flex-direction: row;
        gap: 0.735vw;
    }
    
    .feature {
        position: relative;
        width: 29.215vw;
        padding: 2.206vw 2.206vw 4.118vw 2.206vw;
        bottom: -2.279vw;
    }
    
    .feature:nth-child(2) {
        width: 29.215vw;
        padding: 2.206vw;
        bottom: 0;
    }

    .article {
        padding: 0;
    }

    .feature_image {
        min-width: 8.971vw;
        min-height: 8.971vw;
        margin-top: -4.485vw;
    }

    .feature_title {
        font-size: 1.765vw;
        padding: 0 1.471vw;
        margin: 2.279vw 0 2.941vw 0;
    }
    
    .feature_desc {
        font-size: 1.176vw;
        line-height: 1.884vw;
    }
}