.section {
    padding: 74px 25px;
    text-align: center;
    background-color: #060606;
}

.title {
    font-size: 36px;
    font-weight: 900;
    margin-bottom: 72px;
}

.title span {
    color: #15B4E7;
}

.counter_container {
    padding: 72px 0 93px 0;
    background-color: #0A0A0A;
    border-radius: 10px;
    box-shadow: 0 4px 10px 2px #000000;
    margin: 30px 0;
}

.counter_container:last-child {
    margin: 0;
}

.number {
    font-family: Hind, sans-serif;
    font-size: 96px;
    font-weight: 900;
    margin-bottom: -21px;
}

.category {
    font-size: 24px;
    font-weight: 500;
}

@media only screen and (min-width: 768px) {
    .section {
        padding: 125px 206px;
    }

    .title {
        font-size: 45px;
    }

    .counter_container {
        margin: 45px 0;
    }

    .number {
        font-family: Hind, sans-serif;
        font-size: 128px;
        font-weight: 900;
        margin-bottom: -41px;
    }
    
    .category {
        font-size: 36px;
        font-weight: 500;
    }
}

@media only screen and (min-width: 1280px) {
    .section {
        width: 100vw;
        height: 100vh;
        padding: 6.618vw 9.485vw;
    }

    .title {
        font-size: 2.941vw;
        margin-bottom: 6.103vw;
    }

    .all_counters_container {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 4.559vw;
    }

    .counter_container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 23.897vw;
        height: 23.309vw;
        padding: 0;
        margin: 0;
    }

    .counter_container:nth-child(2) {
        position: relative;
        bottom: -2.059vw;
    }

    .number {
        font-size: 9.412vw;
        line-height: 100%;
        margin: 0;
    }
    
    .category {
        font-size: 2.353vw;
    }
}