.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100vw;
    height: 55px;
    padding: 0 20px;
    background-image: linear-gradient(#0A0A0A, transparent);
    z-index: 10000;
}

.hamburguer {
    width: 36px;
    height: 18px;
    background-color: red;
}