.section {
    padding: 90px 34px 0 34px;
    background-color: #0A0A0A;
    text-align: center;
}

.section h3 {
    font-size: 36px;
    font-weight: 900;
}

.section h3 span {
    color: #15B4E7;
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 15px;
    font-weight: 500;
    gap: 27px;
    padding: 35px 16px;
    border-radius: 10px 10px 0 0;
    background-color: #111627;
}

.logo {
    position: relative;
    width: 98px;
    height: 58px;
}

.map {
    width: 100%;
    height: 47vw;
    border-radius: 10px;
}

.extra_contact_info {
    display: inline-block;
    margin: auto;
}

.extra_contact_info_container {
    display: flex;
    align-items: center;
    gap: 12px;
}

.extra_contact_info_container div {
    position: relative;
    width: 25px;
    height: 25px;
}

.extra_contact_info_container:nth-child(2) {
    margin: 10px 0;
}

.footer hr {
    width: 100%;
    opacity: .2;
}

.social h4 {
    font-size: 15px;
    font-weight: 500;
    margin-bottom: 20px;
}

.social_media_container {
    display: flex;
    justify-content: center;
    gap: 22px;
}

.social_media_container div {
    position: relative;
    width: 25px;
    height: 25px;
}

.social_media_container a:hover {
    color: #15B4E7;
}

@media only screen and (min-width: 768px) {

    .section h3 {
        font-size: 45px;
        letter-spacing: 3px;
    }

    .section {
        padding: 150px 91px 0 91px;
        background-color: #0A0A0A;
        text-align: center;
    }

    .footer {
        font-size: 22px;
        gap: 38px;
        padding: 35px 76px;
    }

    .logo {
        width: 168px;
        height: 100px;
    }

    .map {
        width: 100%;
        height: 35vw;
    }

    .extra_contact_info_container {
        gap: 20px;
    }

    .extra_contact_info_container div {
        width: 42px;
        height: 42px;
    }
    
    .extra_contact_info_container:nth-child(2) {
        margin: 20px 0;
    }

    .social h4 {
        font-size: 22px;
        font-weight: 500;
        margin-bottom: 25px;
    }
    
    .social_media_container {
        gap: 30px;
    }

    .social_media_container div {
        width: 42px;
        height: 42px;
    }
}


@media only screen and (min-width: 1280px) {

    .section {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10.294vw;
        height: 100vh;
        padding: 0;
        background-color: #0A0A0A;
        text-align: center;
    }

    .section h3 {
        font-size: 2.941vw;
        letter-spacing: 0.221vw;
    }

    .footer {
        font-size: 1.176vw;
        gap: 1.838vw;
        padding: 2.206vw 2.5vw;
        align-self: flex-end;
    }

    .logo {
        width: 8.088vw;
        height: 4.853vw;
    }

    .map {
        width: 24.853vw;
        height: 13.676vw;
    }

    .extra_contact_info_container {
        gap: 1.103vw;
    }

    .extra_contact_info_container div {
        width: 2.353vw;
        height: 2.353vw;
    }
    
    .extra_contact_info_container:nth-child(2) {
        margin: 0.882vw 0;
    }

    .social h4 {
        font-size: 1.176vw;
        margin-bottom: 1.471vw;
    }
    
    .social_media_container {
        gap: 30px;
    }

    .social_media_container div {
        width: 2.353vw;
        height: 2.353vw;
    }
}