.section {
    position: relative;
    padding: 60px 25px;
    overflow: hidden;
}

.section:before {
    content: '';
    position: absolute;
    top: -1%;
    left: 51%;
    transform: translate(-51%);
    width: 101%;
    height: 51%;
    background-color: #0A0A0A;
    z-index: -1;
}

.section:after {
    content: '';
    position: absolute;
    left: 51%;
    bottom: -1%;
    transform: translate(-51%);
    width: 101%;
    height: 52%;
    background-color: #060606;
    z-index: -1;
}

.container {
    padding: 40px 30px;
    text-align: center;
    background-color: #0E0E0E;
    box-shadow: 0 4px 10px 5px #000000;
}

.title {
    font-size: 36px;
    font-weight: 900;
}

.desc {
    font-size: 14px;
    font-family: Hind, sans-serif;
    margin: 25px 0 32px 0;
}