.section {
    padding: 120px 25px;
    background-color: #0A0A0A;
}

@media only screen and (min-width: 768px) {
    .section {
        padding: 120px 92px;
    }
}

@media only screen and (min-width: 1280px) {
    .section {
        padding: 10.147vw 5.441vw 10.074vw 5.441vw;
    }
}