.about {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.div {
    width: 100%;
}

.about_title {
    position: relative;
    font-size: 32px;
    font-weight: 900;
    letter-spacing: 2px;
    margin-bottom: 65px;
}

.about_title::before {
    margin-left: -70px;
}

.about_title::before,
.about_title::after {
    content: '';
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    bottom: -26px;
    width: 40px;
    height: 2px;
    background-color: #F2F2F2;
}

.about_title::after {
    margin-left: 70px;
}

.about_desc {
    font-family: Hind, sans-serif;
    font-size: 15px;
    font-weight: 300;
    line-height: 22.5px;
    letter-spacing: .5px;
    color: rgba(255, 255, 255, .7);
}

.about_polygon {
    margin: 65px 0 40px 0;
}

.about_nav {
    display: flex;
    flex-direction: column;
    gap: 22px;
}

.about_nav_links_container {
    display: flex;
    justify-content: center;
    gap: 26px;
}

.about_nav_link {
    width: 142px;
    height: 45px;
    font-size: 14px;
    font-weight: 900;
    line-height: 45px;
    color: #0A0A0A;
    background-color: #F2F2F2;
    border-radius: 3px;
}